div {
	/* border:1px solid red; */
}
.page-header {
	margin:0;
	padding:3px 0;
	background-color: #e3e4e5;
}
.heaer-menu {
	padding-right: 0;
}
.header-link {
	color:black;
}
.header-link:HOVER {
	color:red;
	text-decoration: none;
	cursor: pointer;
}

.page-search {
	margin-top: 30px;
	margin-bottom: 5px;
}
.serch-icon {
	background-color: #d81e06;
	border:0;
	color:#fff;
	font-size: 20px;
}
.goods-category {
	min-height: 380px;
	padding: 20px 0;
	background-color: #d81e06;
}
.ad-display {
	background-color: #ddd;
	padding-left: 70px;
	font-size: 26px;
}
.goods-category ul {
	color:#fff;
	list-style: none;
	padding:0;
}
.goods-category li{
	padding:2px 15px;
}
.goods-category li:HOVER {
	cursor: pointer;
	background-color: #ff4400;
}
.store-activity {
	height: 380px;
	padding: 0 0;
	background-color: #c0c0c0;
}
.activity-link {
	margin:0;
	border:0;
}
.subKinds-list li {
	color:#555555;
	padding:3px 5px;
	margin:0;
	white-space: nowrap;
}
.subKinds-list li:HOVER {
	cursor: pointer;
	color:red;
}
.dis-sub-kinds {
	margin:0;
	padding:20px 10px;
	background-color: #f6f6f6;
	height: 380px;
}
.goods-recommend {
	margin-top: 20px;
}
.goods-recommend h3 {
	margin:5px 0;
	color:#d81e06;
}
.recommend-image {
	display: inline-block;
}
.recommend-header {
	padding:2px 0;
	background-color: #6e6568;
	overflow: auto;
}
.commodities-list {
	padding: 2px;
}
.commodities-list:HOVER {
	cursor:default; 
}
.commodity-title {
	display:inline-block;
	height:3em;
	overflow:hidden;
	color:#000;
	padding:2px;
	background-color: #eee;
}
.commBrand {
	height:1.4em;
	padding:0;
	overflow: hidden;
	margin-bottom: 0.4em;
}
.commodity-dec {
	padding:0 !important;
}
.price-now {
	margin-right:10px;
	margin-left:5px;
	font-size:16px;
	display:inline-block;
	color:red;
}
.brand-recommend {
	margin:10px 0;
}
.brand-full {
	margin-top: 20px;
}
.brand-header {
	padding:2px 0;
	background-color: #994576;
}
.food-header {
	padding:2px 0;
	background-color: #5d5467;
}
.rankings-header {
	padding:2px 0;
	background-color: #498c95;
}
.top-goods h3 {
	margin:0;
	padding-top:5px;
}
.serch-icon_:HOVER {
	cursor: pointer;
}
.brandImage {
	margin:0 !important;
}
.brandImage:HOVER {
	cursor: pointer;
}

