div {
	/* border:1px red solid; */
}

.loin-page-body {
	overflow: auto;
	min-height:500px;
	background-image: url("../images/login-background.jpg");
	background-position: center;
}
.login-container {
	margin-top:80px;
	padding:30px 20px;
	background-color: #fff;
}

.login-kind {
	margin-bottom: 30px;
}
.user-message {
	margin-bottom: 16px;
}
.btn-login {
	width:100%;
}
.login-error {
	font-size: 14px;
	color:#ff4400;
	margin:10px 0;
}
.error-icon {
	display: inline-block;
	width:14px;
	height:14px;
	background-image: url("../images/error-14px.png");
}
.find-pwd-or-register a {
	font-size: 12px;
	color:#6c6c6c;
}
.operation-list {
	overflow:auto;
	list-style: none;
	padding:0;
	margin:0;
}
.operation-list li {
	float:right;
	margin-right: 20px;
}
.operation-list li a:HOVER {
	color:#ff4400;
	cursor: pointer;
}
.code-image {
	height: 30px;
	width:80px;
}
.code-image:HOVER {
	cursor: pointer;
}
