<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<context:component-scan base-package="com.cduestc.tyr.online_shopping" />

	<!-- 视图解析器 用于处理controller的返回值，然后控制跳转 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/htmlPage/" />
		<property name="suffix" value=".html" />
	</bean>

	<!-- 配置数据库连接池 -->
	<bean id="dataSource" destroy-method="close"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/online_shopping?useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="user" value="root"></property>
		<property name="password" value="donny"></property>

		<!-- 配置连接池 -->
		<property name="initialPoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="minPoolSize" value="1" />
		<!-- 每次申请连接申请几个 -->
		<property name="acquireIncrement" value="5" />
		<!-- 最大空闲时间，连接超过该时间未被使用时释放 -->
		<property name="maxIdleTime" value="60" />
	</bean>
	<!-- sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 依赖数据源（dataSource） -->
		<property name="dataSource" ref="dataSource" />
		<!-- Hibernate框架相关配置 -->
		<property name="annotatedClasses">
			<list>
				<value>com.cduestc.tyr.online_shopping.beans.UserBean</value>
				<value>com.cduestc.tyr.online_shopping.beans.KindBean</value>
				<value>com.cduestc.tyr.online_shopping.beans.CommodityBean</value>
				<value>com.cduestc.tyr.online_shopping.beans.CommEntityBean</value>
				<value>com.cduestc.tyr.online_shopping.beans.CommodityImageBean</value>
				<value>com.cduestc.tyr.online_shopping.beans.CommodityParamDetailBean</value>
				<value>com.cduestc.tyr.online_shopping.beans.CommodityPropertyBean</value>
				<value>com.cduestc.tyr.online_shopping.beans.ShoppingCartBean</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- 配置数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化输出的sql -->
				<prop key="hibernate.format_sql">true</prop>
				<!-- 绑定到当前线程获取session spring管理时不需要 <prop key="Hibernate.current_session_context_class">thread</prop> -->
			</props>
		</property>
	</bean>
	<!-- 事务配置 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="REQUIRED" />
			<tx:method name="query*" propagation="SUPPORTS" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="write*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			
		</tx:attributes>
	</tx:advice>
	<!-- 事务切入点 -->
	<aop:config>
		<!-- <aop:pointcut expression="execution(* com.cduestc.tyr.online_shopping.service.*.*(..))"
			id="aopPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="aopPointcut" /> -->
		<aop:advisor pointcut="execution(* com.cduestc.tyr.online_shopping.service.*.*(..))" advice-ref="txAdvice" />
		<aop:advisor pointcut="execution(* com.cduestc.tyr.online_shopping.manager.service.*.*(..))" advice-ref="txAdvice" />
	</aop:config>
	<mvc:annotation-driven/>
	<!-- 文件上传 -->
	<!-- 上传文件 -->  
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="defaultEncoding" value="utf-8"/>  
	    <!-- 最大内存大小 -->  
	    <property name="maxInMemorySize" value="10240"/>  
	    <!-- 最大文件大小，-1为不限制大小 -->  
	    <property name="maxUploadSize" value="-1"/>  
	</bean> 
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/login/*"/>
			<bean class="com.cduestc.tyr.online_shopping.interceptor.CheckLoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>